.container {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    position: relative;
    height: 52px;
    min-width: 0;
    border: 1px solid #bbb;
    border-right: 0px;
}

.container input {
    font-family: "Proxima Nova";
    font-size: 16px;
    background-color: transparent;
    border: 0;
    color: #222;
    padding: 10px 0 0 10px;
    text-overflow: ellipsis;
    height: 42px;
    flex: 1;
    min-width: 0;
}

.container input:focus {
    outline: none;
}

.container input::-ms-clear {
    display: none;
}

.focusedBorder {
    border-color: #222;
}

.label {
    color: #888;
    font-size: 14px;
    font-weight: normal;
    pointer-events: none;
    left: 0;
    position: absolute;
    top: 0;
    transform: translate(15px, 15px);
    transition: transform 250ms ease-in-out, font-size 250ms ease-in-out;
}

.focusedLabel {
    font-size: 12px;
    transform: translate(10px, 5px);
}

