.dropdown {
    background-color: #fff;
    border: 1px solid #bbb;
    position: absolute;
    top: 62px;
    margin-top: 3px;
    padding-left: 0;
    z-index: 101;
    min-width: 200px;
}

.dropdown:hover {
    cursor: pointer;
}

.showCaret:before {
    content: '';
    position: absolute;
    top: -9px;
    left: 24px;
    display: inline-block;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid #bbb;
    border-top: 0;
}

.showCaret:after {
    content: '';
    position: absolute;
    top: -7px;
    left: 25px;
    display: inline-block;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    border-top: 0;
}

.greyCaret:after {
    border-bottom-color: #f1f1f1;
}

.optionContainer {
    padding: 10px 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.highlighted {
    background-color: #f1f1f1;
}

.option {
    font-size: 14px;
    font-family: "Proxima Nova";
}

.match {
    font-family: "Proxima Nova Bold";
}
