.container {
    border: 1px solid #bbb;
    margin: 25px auto;
    max-width: 846px;
    padding: 35px 15px;
}

.searchForm {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.validation {
    color: #ff001f;
    font-family: Proxima Nova, Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}

.container input {
    width: 100%;
}

@media (min-width: 768px) {
    .container {
        padding: 35px;
    }
    
    .container input {
        width: 225px;
    }
}