.city {
    font-size: 14px;
}

.time {
    display: inline-block;
    font-family: "Proxima Nova Bold";
    font-size: 22px;
    margin: 0 10px 10px 0;
}

.endpointName {
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}