* {
    font-family: 'Proxima Nova'
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('assets/fonts/proxima-nova-regular.eot');
    src: url('assets/fonts/proxima-nova-regular.woff2') format('woff2'),
         url('assets/fonts/proxima-nova-regular.woff') format('woff'),
         url('assets/fonts/proxima-nova-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('assets/fonts/proxima-nova-bold.eot');
    src: url('assets/fonts/proxima-nova-bold.woff2') format('woff2'),
         url('assets/fonts/proxima-nova-bold.woff') format('woff'),
         url('assets/fonts/proxima-nova-bold.ttf') format('truetype');
}

button {    
    /* Button reset -- keeps outline for accessibility */
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;


    /* Tossing in styles here just for this demo. This would be a utility class from a broader CSS framework (e.g. ".primary") */
    background-color: #ff5c5c;
    border: solid 1px #ff5c5c;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Proxima Nova Bold,Helvetica Neue Bold,Helvetica Bold,Arial Bold,sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 0 20px;
    text-transform: uppercase;
}

button:hover {
    background-color: #ff001f;
    border: solid 1px #ff001f;
}