.container {
    border: 1px solid #bbb;
    display: flex;
    justify-content: space-between;
    margin: 0 0 20px 0;
    padding: 15px;
}

.price {    
    font-family: "Proxima Nova Bold";
    font-size: 22px;
    margin-bottom: 10px
}

.carrier {
    color: #888;
    font-size: 14px;
}

.selectButton {
    height: 50px;
}

@media (min-width: 768px) {
    .container {
        padding: 35px;
    }
}